<!DOCTYPE html>
<html>
<head>
	<title>Managers</title>
</head>
<body>
	<div>
			<h2>Managers</h2> 		
	</div>

	<a href="/home">Back</a>|
	<a href="/logout">Logout</a><br><br>
	<a href="/admin/profile">Edit Profile</a><br>
	<a href="/admin/addNewManager">Add New Manager</a><br>
	<a href="/admin/assignManager">Assign Manager </a><br>
	<a href="/admin/changeManager">Change Assigned Manager</a><br>
	<a href="/admin/view_Managers">Managers</a><br>
	<a href="/admin/view_Owners">Owners</a><br>
	<a href="/admin/view_Customers">Customers</a><br>
	<a href="/admin/view_Rented">Rented Apartments</a><br>
	<a href="/admin/view_Available">Available Apartments</a><br>

	<table border="1">
		<tr>
			<td>ID</td>
			<td>USERNAME</td>
			<td>Area</td>
			<td>Area Code</td>
		</tr>
		
		<tr>
			<td>1</td>
			<td>Musaddiq</td>
			<td>Bashundhara R/A</td>
			<td>1200</td>
		</tr>
		
		<tr>
			<td>2</td>
			<td>Musa</td>
			<td>Nikunjo</td>
			<td>1201</td>
		</tr>
		
		
		
		
	</table>

</body>
</html>